
html,
body {
  color: #fff;
  background-color: #2a0044;
}

#optionsInput {
  /* margin: 0px; */
  width: 300px;
  height: 100%;
  padding: 25px;
  float: left;
}

.buttonInput {
  padding: 4px 11px;
  margin: 2px;
  width: 200px;
  height: 40px;
  /* border: 1px solid #0a0b14; */
  /* color: #fff; */
  cursor: pointer;
  position: relative;
}

#mainReports {
  /* max-width: 70%; */
  height: auto;
  float: left;
  padding: 8px;
}

.modalClass {
  color: black;
  text-align: left;
}

footer {
  color: rgba(255, 255, 255, 0.5);
}