html {
height: 100%;
}

body {
  background-color: #42006b;
  color: #fff;
  height: 100%;
}

header{
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.buttonInput {
  /* padding: 4px 11px; */
  margin-bottom: 5px;
  width: 170px;
  height: 40px;
  /* border: 1px solid #0a0b14; */
  /* color: #fff; */
  cursor: pointer;
  /* position: relative; */
}

.modalClass {
  color: black;
  text-align: left;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 50px;
  padding-top: 1em;
  /* padding-top: 2em; */
  /* centraliza na vertical */
  /* line-height: 60px; */
}

.title {
  text-align: center !important;
  padding-bottom: 20px;
}

.linha1 {
  display: inline;
  padding: 1em;
}

.options {
  text-align: right !important;
  min-width: 5em;
}

.icon {
  margin-right: 10px;
}

.myTable {
  max-width: 600px;
  min-width: 399px;
}

.container-login {
  margin: 4em;
  /* padding: 2em; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  margin: 0;
  width: 50%;
  max-width: 30em;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  padding: 2em;
}

.login form {
  padding-bottom: 2em;
}

.login h2, span {
  text-align: center;
}

.login button {
  width: 6em;
}

