
html{
  /* position: relative; */
  min-height: 100%;
  position: relative;
}

html,
body {
  color: #fff;
  background-color: #2a0044;
}

header{
  background-color: rgba(0, 0, 0, 0.2)
}

#optionsInput {
  margin: 1em;
  width: 200px;
  height: 100%;
  padding: 0;
  float: left;
}

.buttonInput {
  /* padding: 4px 11px; */
  margin-bottom: 5px;
  width: 200px;
  height: 40px;
  /* border: 1px solid #0a0b14; */
  /* color: #fff; */
  cursor: pointer;
  position: relative;
}

#mainReports {
  /* max-width: 70%; */
  height: auto;
  float: left;
  margin: 1em;
  padding: 0;
}

.modalClass {
  color: black;
  text-align: left;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  margin-top: 2em;
  /* centraliza na vertical */
  /* line-height: 60px; */
}