<!-- <div class="masthead mt-auto cover-container mastfoot">
    <p>&copy; 2018 - Life Planning by Lucas de Paula. All rights reserved.</p>
</div> -->


<div>
    <p>&copy; 2018 - Life Planning by Lucas de Paula. All rights reserved.</p>
</div>
