<div class="inner">
    <h3 class="masthead-brand">Life Planning</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/viewData">Reports</a>
        <a class="nav-link" href="/viewChart">Graphics</a>
        <a class="nav-link" href="/task">Tasks</a>
        <a class="nav-link" href="/flow">Flow</a>
        <a class="nav-link" href="/help">Help</a>
    </nav>
</div>