<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body class="text-center">
  <header>
    <%- include('./partials/header.ejs'); -%>
  </header>
  
  <div class="d-flex p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1>Chart</h1>
      <p>Aqui seram apresentados os dados no formato de gráfico...</p>
    </main>

    <footer>
      <%- include('./partials/footer.ejs'); -%>
    </footer>
    <%- include('./partials/scripts.ejs'); -%>
  </div>
</body>

</html>