<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body class="text-center">
  <div class="d-flex p-3 mx-auto flex-column">
    <header>
      <%- include('./partials/header.ejs'); -%>
    </header>

    <main role="main" class="inner cover">
      <h1>Flow</h1>
      <p>Aqui será apresentado um construtor de flow chart...</p>
    </main>

    <footer>
      <%- include('./partials/footer.ejs'); -%>
    </footer>
    <%- include('./partials/scripts.ejs'); -%>
  </div>
</body>

</html>