<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body>
  <header class="text-center">
    <%- include('./partials/header.ejs'); -%>
  </header>

  <div class="text-center">
    <main role="main" class="inner cover">
      <h1>Flow</h1>
      <p>Aqui será apresentado um construtor de flow chart...</p>
    </main>
  </div>
  <footer class="footer text-center">
    <%- include('./partials/footer.ejs'); -%>
  </footer>
  <%- include('./partials/scripts.ejs'); -%>
</body>

</html>