<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body>
  <header class="text-center">
    <%- include('./partials/header.ejs'); -%>
  </header>

  <div class="text-center">
    <main role="main" class="inner cover">
      <h1>Help</h1>
        <div style="padding-left: 10%; padding-right: 10%; text-align: justify;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae tortor scelerisque, mollis tellus ut, dignissim felis. Cras at pharetra arcu, viverra pulvinar lectus. Cras nulla elit, blandit quis tellus ac, placerat accumsan nulla. Praesent venenatis euismod purus sed elementum. Proin at venenatis metus. Vestibulum feugiat dui non quam luctus, sit amet tempus lectus varius. Mauris pulvinar quis nunc et tincidunt. Proin in libero velit. Praesent porta vel est sit amet auctor.
          </p>
          <p>
            Donec congue sit amet erat vel sollicitudin. Suspendisse a sem vulputate, cursus lectus non, pretium ligula. Proin tempor magna ut felis varius eleifend. Praesent vel tortor mauris. Nullam laoreet cursus justo, ut sodales ligula viverra ut. Phasellus maximus sagittis ipsum. Vestibulum a dapibus justo. Donec tincidunt mi elit, vitae finibus sem vulputate luctus. Suspendisse metus arcu, egestas quis convallis eu, tempor non urna. Nunc varius egestas nulla, blandit cursus leo vehicula sit amet.
          </p>
          <p>
            Phasellus semper sapien volutpat semper cursus. Aenean non facilisis erat. Duis in aliquam ligula, eu semper libero. Curabitur ut congue risus. Curabitur non sem non mauris tristique congue. Donec venenatis dapibus convallis. Quisque eleifend ante non neque vestibulum, at molestie ante vestibulum. Proin vehicula lacus ut dolor malesuada finibus.
          </p>
          <p>
            Suspendisse tristique nec mauris eget volutpat. Fusce bibendum lectus ligula, ac fringilla sem dignissim sed. Pellentesque sit amet dui ante. Aenean dui risus, aliquam rutrum mattis sit amet, semper porttitor mi. Suspendisse a gravida velit. Aenean hendrerit ornare mauris, nec malesuada orci sollicitudin eget. Proin viverra nibh dui, sed dignissim libero ultrices ac. Mauris dapibus, risus eu vehicula lobortis, sem ante faucibus orci, in tincidunt diam turpis nec risus. Morbi lectus lorem, rutrum id tempus et, maximus ac nibh. Donec lacus tellus, interdum a turpis consequat, maximus fringilla tortor. Sed purus magna, auctor non nisi vel, semper efficitur enim. Sed sollicitudin bibendum ante quis tempor. Nam sed felis metus.
          </p>
          </div>
    </main>
  </div>
  <footer class="footer text-center">
    <%- include('./partials/footer.ejs'); -%>
  </footer>
  <%- include('./partials/scripts.ejs'); -%>
</body>

</html>