<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./partials/head.ejs'); -%>
  </head>

  <body>
    <header class="text-center"></header>

    <div class="text-center">
      <h1>Register</h1>
    </div>
    <main role="main" class="inner cover"> 
        <div class="container-register">
          <div class="register">
            <form action="/user" method="POST">
                <div class="form-group">
                    <label for="fname"><b>Full Name</b></label>
                    <input type="name" class="form-control" id="fname" name="fname" placeholder="Insert your name">
                </div>
                <div class="form-group">
                    <label for="fuser"><b>User</b></label>
                    <input type="user" class="form-control" id="fuser" name="fuser" placeholder="Create user">
                </div>
                <div class="form-group">
                    <label for="fpassword"><b>Password</b></label>
                    <input type="password" class="form-control" id="fpassword" name="fpassword" placeholder="Create Password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
        </div>
      </main>
    <footer class="footer text-center">
      <%- include('./partials/footer.ejs'); -%>
    </footer>
    <%- include('./partials/scripts.ejs'); -%>
  </body>
</html>
