<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Task</h1>
    <p>Aqui será apresentado um task list para mapear tarefas...</p>
  </body>
</html>
