<!doctype html>
<html lang="pt-br">

<head>
  <%- include('./partials/head.ejs'); -%>
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <%- include('./partials/header.ejs'); -%>
    </header>
    <aside>
      <button type="button" class="btn btn-outline-info">Nova Receita</button>
      <button type="button" class="btn btn-outline-info">Nova Despesa</button>
      <button type="button" class="btn btn-outline-info">Nova Categoria</button>
      <button type="button" class="btn btn-outline-info">Remover Despesa</button>
      <button type="button" class="btn btn-outline-info">Remover Receita</button>
      <button type="button" class="btn btn-outline-info">Remover Categoria</button>
      <button type="button" class="btn btn-outline-info">Histórico</button>
    </aside>
    <main role="main" class="inner cover">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Vencimento</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>Doe</td>
            <td>Doe</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>Doe</td>
            <td>Doe</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>Doe</td>
            <td>Doe</td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer class="mastfoot mt-auto">
      <%- include('./partials/footer.ejs'); -%>
    </footer>
    <%- include('./partials/scripts.ejs'); -%>
  </div>
</body>

</html>