<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>View Data</h1>
    <p>Aqui será apresentado os dados em formato de tabela...</p>
  </body>
</html>
